In [103]:
import pandas as pd
import numpy as np

In [104]:
mflx_control_02 = pd.read_stata("hh02dta_all/hh02dta_bc/c_ls.dta")
mflx_control_02

,folio,ls,secuencia,ls00,ls02_1,ls02_2,ls03_1,ls03_21,ls03_22,ls04,...,ls09,ls10,ls11,ls12,ls13_1,ls13_2,ls14,ls15_1,ls16,ls18
0,1000.0,1.0,1.0,1.0,1.0,37.0,NaN,NaN,NaN,1.0,...,1.0,5.0,2.0,1.0,1.0,32000.0,3.0,6.0,3.0,NaN
1,1000.0,2.0,2.0,2.0,1.0,35.0,NaN,NaN,NaN,3.0,...,1.0,5.0,1.0,3.0,NaN,NaN,1.0,NaN,3.0,NaN
2,1000.0,3.0,3.0,3.0,1.0,16.0,NaN,NaN,NaN,3.0,...,1.0,6.0,NaN,3.0,NaN,NaN,6.0,0.0,1.0,2.0
3,1000.0,4.0,4.0,4.0,1.0,11.0,NaN,NaN,NaN,1.0,...,1.0,NaN,NaN,3.0,NaN,NaN,3.0,4.0,1.0,2.0
4,2000.0,1.0,1.0,1.0,1.0,40.0,NaN,NaN,NaN,1.0,...,1.0,1.0,2.0,1.0,1.0,43200.0,4.0,3.0,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35672,10758000.0,1.0,1.0,1.0,1.0,23.0,NaN,NaN,NaN,1.0,...,1.0,1.0,2.0,1.0,1.0,48000.0,3.0,6.0,3.0,NaN
35673,10758000.0,2.0,2.0,2.0,1.0,20.0,NaN,NaN,NaN,3.0,...,1.0,1.0,1.0,3.0,NaN,NaN,4.0,3.0,3.0,NaN
35674,10758000.0,3.0,3.0,3.0,2.0,1.0,NaN,NaN,NaN,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35675,10759000.0,1.0,1.0,1.0,1.0,22.0,NaN,NaN,NaN,1.0,...,1.0,5.0,2.0,1.0,1.0,24000.0,4.0,3.0,3.0,NaN
35676,10759000.0,2.0,2.0,2.0,1.0,22.0,NaN,NaN,NaN,3.0,...,1.0,5.0,1.0,1.0,1.0,24000.0,3.0,6.0,3.0,NaN

In [105]:
mflx_control_02['trimmed_folio'] = mflx_control_02['folio'].apply(lambda x: int(str(int(x))[:-3]) if not pd.isna(x) else np.nan)
mflx_control_02

,folio,ls,secuencia,ls00,ls02_1,ls02_2,ls03_1,ls03_21,ls03_22,ls04,...,ls10,ls11,ls12,ls13_1,ls13_2,ls14,ls15_1,ls16,ls18,trimmed_folio
0,1000.0,1.0,1.0,1.0,1.0,37.0,NaN,NaN,NaN,1.0,...,5.0,2.0,1.0,1.0,32000.0,3.0,6.0,3.0,NaN,1
1,1000.0,2.0,2.0,2.0,1.0,35.0,NaN,NaN,NaN,3.0,...,5.0,1.0,3.0,NaN,NaN,1.0,NaN,3.0,NaN,1
2,1000.0,3.0,3.0,3.0,1.0,16.0,NaN,NaN,NaN,3.0,...,6.0,NaN,3.0,NaN,NaN,6.0,0.0,1.0,2.0,1
3,1000.0,4.0,4.0,4.0,1.0,11.0,NaN,NaN,NaN,1.0,...,NaN,NaN,3.0,NaN,NaN,3.0,4.0,1.0,2.0,1
4,2000.0,1.0,1.0,1.0,1.0,40.0,NaN,NaN,NaN,1.0,...,1.0,2.0,1.0,1.0,43200.0,4.0,3.0,3.0,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35672,10758000.0,1.0,1.0,1.0,1.0,23.0,NaN,NaN,NaN,1.0,...,1.0,2.0,1.0,1.0,48000.0,3.0,6.0,3.0,NaN,10758
35673,10758000.0,2.0,2.0,2.0,1.0,20.0,NaN,NaN,NaN,3.0,...,1.0,1.0,3.0,NaN,NaN,4.0,3.0,3.0,NaN,10758
35674,10758000.0,3.0,3.0,3.0,2.0,1.0,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10758
35675,10759000.0,1.0,1.0,1.0,1.0,22.0,NaN,NaN,NaN,1.0,...,5.0,2.0,1.0,1.0,24000.0,4.0,3.0,3.0,NaN,10759
35676,10759000.0,2.0,2.0,2.0,1.0,22.0,NaN,NaN,NaN,3.0,...,5.0,1.0,1.0,1.0,24000.0,3.0,6.0,3.0,NaN,10759

individual stats

In [106]:
#ls14 - education
#secondary 4-10
#high school 6-10
#college 9-10

#ls13_2 - income

#ls04 = sex

#has age - ls02_1 - 1 = age, 2 = month, 3 = days
#age num - ls02_2


#TO DO
#secondary beyond education
#high school beyond education
#college beyond education

def assign_secondary(value):
    if 4 <= value <= 10:
        return 1
    elif 1 <= value <= 3:
        return 0
    else:
        return np.nan
    
def assign_highschool(value):
    if 6 <= value <= 10:
        return 1
    elif 1 <= value <= 5:
        return 0
    else:
        return np.nan
    
def assign_college(value):
    if 9 <= value <= 10:
        return 1
    elif 1 <= value <= 8:
        return 0
    else:
        return np.nan

mflx_control_02['secondary'] = mflx_control_02['ls14'].apply(assign_secondary)
mflx_control_02['highschool'] = mflx_control_02['ls14'].apply(assign_highschool)
mflx_control_02['college'] = mflx_control_02['ls14'].apply(assign_college)


#age

age_yrs_ls = []
for index, row in mflx_control_02.iterrows():
    age_measurement = row["ls02_1"]
    age_units = row["ls02_2"]

    if np.isreal(age_units):
        if age_measurement == 1:
            age_yrs_ls.append(age_units)
        if age_measurement == 2:
            age_yrs_ls.append(1)
        if age_measurement == 3:
            age_yrs_ls.append(1)
        if age_measurement ==8:
            age_yrs_ls.append(np.NaN)
    else:
        age_yrs_ls.append(np.NaN)

mflx_control_02["age_yrs"] = age_yrs_ls
        

#city size


mflx_control_02

,folio,ls,secuencia,ls00,ls02_1,ls02_2,ls03_1,ls03_21,ls03_22,ls04,...,ls13_2,ls14,ls15_1,ls16,ls18,trimmed_folio,secondary,highschool,college,age_yrs
0,1000.0,1.0,1.0,1.0,1.0,37.0,NaN,NaN,NaN,1.0,...,32000.0,3.0,6.0,3.0,NaN,1,0.0,0.0,0.0,37.0
1,1000.0,2.0,2.0,2.0,1.0,35.0,NaN,NaN,NaN,3.0,...,NaN,1.0,NaN,3.0,NaN,1,0.0,0.0,0.0,35.0
2,1000.0,3.0,3.0,3.0,1.0,16.0,NaN,NaN,NaN,3.0,...,NaN,6.0,0.0,1.0,2.0,1,1.0,1.0,0.0,16.0
3,1000.0,4.0,4.0,4.0,1.0,11.0,NaN,NaN,NaN,1.0,...,NaN,3.0,4.0,1.0,2.0,1,0.0,0.0,0.0,11.0
4,2000.0,1.0,1.0,1.0,1.0,40.0,NaN,NaN,NaN,1.0,...,43200.0,4.0,3.0,3.0,NaN,2,1.0,0.0,0.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35672,10758000.0,1.0,1.0,1.0,1.0,23.0,NaN,NaN,NaN,1.0,...,48000.0,3.0,6.0,3.0,NaN,10758,0.0,0.0,0.0,23.0
35673,10758000.0,2.0,2.0,2.0,1.0,20.0,NaN,NaN,NaN,3.0,...,NaN,4.0,3.0,3.0,NaN,10758,1.0,0.0,0.0,20.0
35674,10758000.0,3.0,3.0,3.0,2.0,1.0,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,10758,NaN,NaN,NaN,1.0
35675,10759000.0,1.0,1.0,1.0,1.0,22.0,NaN,NaN,NaN,1.0,...,24000.0,4.0,3.0,3.0,NaN,10759,1.0,0.0,0.0,22.0
35676,10759000.0,2.0,2.0,2.0,1.0,22.0,NaN,NaN,NaN,3.0,...,24000.0,3.0,6.0,3.0,NaN,10759,0.0,0.0,0.0,22.0

In [107]:
type(mflx_control_02.iloc[0][3])

/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1157/321108490.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  type(mflx_control_02.iloc[0][3])

numpy.float64

household stats

In [108]:
#ls05_1 - 1 = household head

#household income - ls13_2
#female head (binary) - ls04
#amount of children
#education of head (head hs, head sec, head college)
#household size

households = mflx_control_02['trimmed_folio'].unique()
household_income_ls = []
household_head_female_ls = []
household_head_secondary_ls = []
household_head_highschool_ls = []
household_head_college_ls = []
household_children_ls = []
household_size_ls = []

# households = [5173]
for household in households:
  household_rows = mflx_control_02[mflx_control_02['trimmed_folio'] == household]
  household_size = len(household_rows)
  household_size_ls.append(household_size)

  household_children_rows = household_rows[household_rows['age_yrs'] < 18]
  household_children = len(household_children_rows)
  household_children_ls.append(household_children)

  household_income = household_rows['ls13_2'].sum()
  household_income_ls.append(household_income)
  # print(household)
  household_head = household_rows[household_rows['ls05_1'] == 1]
  if len(household_head) > 0:
    if household_head.iloc[0]["ls04"] == 3:
      household_head_female_ls.append(1)
    else:
      household_head_female_ls.append(0)

    if household_head.iloc[0]["secondary"] == 1:
      household_head_secondary_ls.append(1)
    elif household_head.iloc[0]["secondary"] == 0:
      household_head_secondary_ls.append(0)
    else:
      household_head_secondary_ls.append(np.NaN)
    
    if household_head.iloc[0]["highschool"] == 1:
      household_head_highschool_ls.append(1)
    elif household_head.iloc[0]["highschool"] == 0:
      household_head_highschool_ls.append(0)
    else:
      household_head_highschool_ls.append(np.NaN)

    if household_head.iloc[0]["college"] == 1:
      household_head_college_ls.append(1)
    elif household_head.iloc[0]["college"] == 0:
      household_head_college_ls.append(0)
    else:
      household_head_college_ls.append(np.NaN)
    
  else:
      household_head_female_ls.append(np.NaN)
      household_head_secondary_ls.append(np.NaN)
      household_head_highschool_ls.append(np.NaN)
      household_head_college_ls.append(np.NaN)



# households
# household_income_ls = []
# household_head_female_ls = []
# household_head_secondary_ls = []
# household_head_highschool_ls = []
# household_head_college_ls = []
# household_children_ls = []
# household_size_ls = []

get city size

In [109]:
mflx_control_portad_02 = pd.read_stata("hh02dta_all/hh02dta_bc/c_portad.dta")
mflx_control_portad_02['trimmed_folio'] = mflx_control_portad_02['folio'].apply(lambda x: int(str(int(x))[:-3]) if not pd.isna(x) else np.nan)
mflx_control_portad_02

,folio,ls,rel,reh,edo,mpio,loc,control,estrato,edad,id_loc,trimmed_folio
0,6299000.0,1.0,20.0,1.0,3.0,1.0,38.0,20.0,4.0,73.0,3138.0,6299.0
1,6293000.0,2.0,20.0,1.0,3.0,1.0,38.0,20.0,4.0,49.0,3138.0,6293.0
2,6281000.0,2.0,20.0,1.0,3.0,1.0,38.0,20.0,4.0,41.0,3138.0,6281.0
3,6312000.0,1.0,20.0,1.0,3.0,1.0,38.0,20.0,4.0,32.0,3138.0,6312.0
4,6314000.0,2.0,20.0,1.0,3.0,1.0,38.0,20.0,4.0,55.0,3138.0,6314.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8436,1982000.0,2.0,20.0,4.0,31.0,101.0,47.0,18.0,4.0,42.0,3110147.0,1982.0
8437,1961000.0,1.0,20.0,3.0,31.0,101.0,47.0,18.0,4.0,66.0,3110147.0,1961.0
8438,1998000.0,2.0,20.0,1.0,31.0,101.0,47.0,18.0,4.0,45.0,3110147.0,1998.0
8439,1959000.0,2.0,20.0,4.0,31.0,101.0,47.0,18.0,4.0,43.0,3110147.0,1959.0
8440,1955000.0,2.0,20.0,1.0,31.0,101.0,47.0,18.0,4.0,46.0,3110147.0,1955.0

In [110]:
city_bigger_15k_ls = []
for household in households:
  household_rows = mflx_control_portad_02[mflx_control_portad_02['trimmed_folio'] == household]
  if len(household_rows) > 0:
    if (household_rows.iloc[0]["estrato"] == 1 or household_rows.iloc[0]["estrato"] == 2):
      city_bigger_15k_ls.append(1)
    elif (household_rows.iloc[0]["estrato"] == 1 or household_rows.iloc[0]["estrato"] == 2):
      city_bigger_15k_ls.append(0)
    else:
      city_bigger_15k_ls.append(np.NaN)
  else:
    city_bigger_15k_ls.append(np.NaN)
  
len(city_bigger_15k_ls)

8299

get hospital info

In [111]:
mflx_hospital1_02 = pd.read_stata("hh02dta_all/hh02dta_b3b/iiib_ce1.dta")
mflx_hospital1_02['trimmed_folio'] = mflx_hospital1_02['folio'].apply(lambda x: int(str(int(x))[:-3]) if not pd.isna(x) else np.nan)
mflx_hospital1_02

,ce10_1,ce11d_1,ce11e_1,ce11l_1,ce11m_1,ce11p_1,ce12,ce13_1a,ce13_1b,ce13_1c,...,ce23a_2,ce23b_1,ce23b_21,ce23b_22,folio,ls,secuencia,clave1,clave2,trimmed_folio
0,2,1,3,1,1,3,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,29000.0,1.0,1,2020.0,0.0,29
1,2,1,3,1,1,3,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,29000.0,1.0,2,2020.0,0.0,29
2,2,1,3,1,1,3,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,30000.0,1.0,1,0.0,20632.0,30
3,2,1,3,1,1,3,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,30000.0,1.0,2,0.0,20632.0,30
4,2,1,3,1,1,3,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,30000.0,1.0,3,0.0,20632.0,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4339,2,1,3,1,3,3,3.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,10308000.0,2.0,1,2185.0,0.0,10308
4340,2,1,1,1,1,1,1.0,NaN,2.0,3.0,...,NaN,NaN,NaN,NaN,10602000.0,1.0,1,26253.0,0.0,10602
4341,10,8,3,8,3,3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10752000.0,2.0,1,196.0,0.0,10752
4342,2,8,3,1,3,3,3.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,10754000.0,2.0,1,1932.0,0.0,10754
4343,2,1,1,1,1,1,1.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,10759000.0,2.0,1,0.0,19608.0,10759

In [112]:
hospital_distance_min_ls = []

#ce15_1 - 1
#ce15_21 - hr
#ce15_22 - min

for household in households:
  household_rows = mflx_hospital1_02[mflx_hospital1_02['trimmed_folio'] == household]
  if len(household_rows) > 0:
    hours = household_rows['ce15_21'].tolist()
    min = household_rows['ce15_22'].tolist()
    avr_hours = np.nanmean(hours)
    avr_min = np.nanmean(min)
    if pd.notna(avr_hours):
      hospital_distance_min_ls.append(avr_hours*60)
    elif pd.notna(avr_min):
      hospital_distance_min_ls.append(avr_min)
    else:
      hospital_distance_min_ls.append(np.NaN)



    # if pd.notna(household_rows.iloc[0]["ce15_21"]):
    #   hospital_distance_min_ls.append(household_rows.iloc[0]["ce15_21"]*60)
    # elif pd.notna(household_rows.iloc[0]["ce15_22"]):
    #   hospital_distance_min_ls.append(household_rows.iloc[0]["ce15_22"])   
    # else:
    #   hospital_distance_min_ls.append(np.NaN)
  else:
    hospital_distance_min_ls.append(np.NaN)
  
len(hospital_distance_min_ls)

/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1157/761467881.py:12: RuntimeWarning: Mean of empty slice
  avr_hours = np.nanmean(hours)
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1157/761467881.py:13: RuntimeWarning: Mean of empty slice
  avr_min = np.nanmean(min)

8299

In [113]:
mflx_hospital2_02 = pd.read_stata("hh02dta_all/hh02dta_b3b/iiib_ce.dta")
mflx_hospital2_02['trimmed_folio'] = mflx_hospital2_02['folio'].apply(lambda x: int(str(int(x))[:-3]) if not pd.isna(x) else np.nan)
mflx_hospital2_02

,ce01,ce02,ce03,ce04a,ce04b,ce04c,ce04d,ce04e,ce04f,ce04g,...,ce05i,ce05j,ce05k,ce05l,ce05m,ce05n,ce06,folio,ls,trimmed_folio
0,3,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.0,1.0,1
1,3,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.0,2.0,1
2,3,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.0,3.0,1
3,3,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000.0,2.0,2
4,3,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000.0,3.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19798,3,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10757000.0,2.0,10757
19799,3,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10758000.0,1.0,10758
19800,3,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10758000.0,2.0,10758
19801,3,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10759000.0,1.0,10759
19802,1,3,2,3.0,3.0,3.0,3.0,3.0,1.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,10759000.0,2.0,10759

In [114]:
#clinic visits last month
outpatient_visits_ls = []

for household in households:
  household_rows = mflx_hospital2_02[mflx_hospital2_02['trimmed_folio'] == household]
  if len(household_rows) > 0:
    visits = household_rows['ce06'].tolist()
    avr_visits = np.nanmean(hours)
    if pd.notna(avr_visits):
      hospital_distance_min_ls.append(avr_visits)
    else:
      outpatient_visits_ls.append(np.NaN)

  else:
    outpatient_visits_ls.append(np.NaN)
len(outpatient_visits_ls)

/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_1157/708991551.py:8: RuntimeWarning: Mean of empty slice
  avr_visits = np.nanmean(hours)

8299

In [115]:
households_dict = {
  'trimmed_folio': households,
  'household_income': household_income_ls,
  'household_head_female': household_head_female_ls,
  'household_head_secondary': household_head_secondary_ls,
  'household_head_highschool': household_head_highschool_ls,
  'household_head_college': household_head_college_ls,
  'household_children': household_children_ls,
  'household_size': household_size_ls,
  'city_bigger_15k': city_bigger_15k_ls,
  'outpatient_visits': outpatient_visits_ls,
  'hospital_distance_min': hospital_distance_min_ls
}

households_df = pd.DataFrame(households_dict)

In [116]:
households_df.to_stata('households_data.dta')
mflx_control_02.to_stata('mflx_control_02_edited.dta')